.carousel-container,.carousel-item{
    height: 100vh;
}
.imagenPortada{
    height: 100vh;
}
.imagenPortada img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit:contain;
}
.description{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    font-family:'Cinzel', serif;
}
.description h1{
    font-size: 100px;
    opacity: 1 !important;
}
.comprarHome{
    border: 1px solid white;
    border-radius: 0;
    color: white;
    background-color: black;
}
.imagenTrasera{
    transform: translateX(-160%);
}
.imagenTrasera img{
    opacity: 0.2;
}

@media (max-width:470px){
    .imagenTrasera{
        transform: translateX(-105%);
    }
    .tituloPortada{
        font-size: 60px !important;
        padding-left: 10px;
    }
    .imagenPortada{
    transform: translateX(-120%);
    }
}